.addBook{
    align-items: center;
    height: 30%;
    width: 45%;
    background-color: rgb(191, 202, 227);
    margin: 62px 400px;
    border-radius: 10px;
    border: 5px solid skyblue;
}
.form{
    margin-left: 100px;
}
.form input{
    margin-top: 5px;
    width: 400px;
    height: 20px;
}
.form textarea{
    margin-top: 5px;
    border-radius: 5px;
    text-align: center;
    width: 465px;
    height: 100px;
}
.form button{
    margin-left: 180px;
    color: rgb(42, 118, 219);
}
.form button{
    width: 120px;
    padding: 10px 0;
    
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    color: rgb(42, 118, 219);
    cursor: pointer;
    position: relative;
    overflow: hidden;
 }
 
 .form button:hover{
    background-color: rgb(42, 118, 219);
    color: white;
 }

