/* body{
   
   background-image: url('/public/images/bg.jpg');
   
   background-size: cover;
  
   
} */
.landingpage{
   background-image: url('/public/images/landing.jpg');
   background-size: cover;
   height: 100vh;
}
.loginType{
   transform: translateY(250px);
   margin-left: 450px;
   height: 400px;
   width: 600px;
   
   background-color: black;
  
   border: 3px solid rgb(229, 227, 227);
   border-radius: 10px;
   box-shadow: 5px 5px 6px rgb(242, 240, 240);
}
.head h1{
   margin-top: 30px;
   color: white;
}
.login{
   margin-top: 100px;
   display: flex;
   justify-content: space-around;
   text-decoration: none;
}

img{
   margin-top: none;
  
   border-radius: 10px;
}




.loginType button{
   width: 120px;
   padding: 10px 0;
   
   margin: 20px 10px;
   border-radius: 25px;
   font-weight: bold;
   border: 2px solid white;
   background: transparent;
   color: rgb(254, 251, 254);
   cursor: pointer;
   position: relative;
   overflow: hidden;
}

.landingpage button:hover{
   background-color:white;
    color: black;
}