.userList {
    display: inline;
}
.usercard{

    border: 2px solid black;
    height: 250px;
    width: 25%;
    background-color: rgb(215, 248, 250);
    text-align: left;
    border-radius: 5px;
    justify-content: space-around;
    display: inline-block;
    margin: 20px;
    padding: 5px;
}
.users_section{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.usercard button{
    margin-left: 100px;
}
.usercard{
    margin-left: 30px;
}
.usercard button{
    width: 120px;
    padding: 10px 0;
    
    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid black;
    background: transparent;
    color:  rgb(129, 38, 108);
    cursor: pointer;
    position: relative;
    overflow: hidden;
 }
 
 .usercard button:hover{
    background-color:  rgb(26, 177, 194);
    color: white;
 }