
.usernavbar{
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    background-color: rgb(131, 160, 197);
    
    margin-top: 0px;
}

.usernavbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
    position: relative;
 }
 .usernavbar ul li a{
     text-decoration: none;
     color: white ;
     text-transform: uppercase;
 }
 .usernavbar ul li ::after{
    content:'' ;
    height: 3px;
    width: 0;
    background:rgb(35, 80, 138);
    position: absolute;
    left: 0;
    bottom: -7px;
    transition: 0.8s;
}
.usernavbar ul li:hover ::after{
    width: 100%;
}
h1{
    color:black;
    margin-top: 3px;
}
